.contacts {

  &__title {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 36px;
    }

    @include on-dekstop {
      font-size: 56px;
    }
  }
}