@import './../utils/mixins';

.footer {

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    @include on-tablet {
      gap: 60px;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 100%;
  }

  &__logo {
    text-align: center;
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__totop {
    text-align: right;
    cursor: pointer;
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__socials {
    display: flex;
    gap: 40px;
  }

  &__copyright {
    text-align: center;
  }
}
