.reviews {

  &__wrapper {
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
    background: url(./../images/review-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
  }

  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__img {
    margin-top: 30px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-dekstop {
      margin-top: 30px;
    }
  }

  &__author {
    font-weight: 700;
    line-height: 1.37;
    margin-top: 10px;

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__position {
    color: #7C7C7C;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
  }
}
